.navbar__button-anchor {
  position: relative;
  color: white;
  text-decoration: none;
}

.navbar__button-anchor::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  bottom: -10px;
  background: white;
  transition: all 0.2s ease-in-out;
}

.navbar__button-anchor.active::after {
  width: 40%;
}

.navbar__button-anchor:hover::after {
  width: 100%;
}
