.navbar__button-anchor {
  position: relative;
  color: white;
  text-decoration: none;
}

.navbar__button-anchor::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  bottom: -10px;
  background: white;
  transition: all 0.2s ease-in-out;
}

.navbar__button-anchor.active::after {
  width: 40%;
}

.navbar__button-anchor:hover::after {
  width: 100%;
}

.navbar__burger-anchor {
  display: block;
  width: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 15px 0;
}

.navbar__burger-anchor.active {
  color: #1976d2;
  font-weight: bold;
}
