.cart-icon__length {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-width: 1.45rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background-color: red;
  color: white;
  right: 0;
  top: 0;
  transform: translate(-20%, 10%);
}
